---
layout: layouts/base.njk
---

<div class="container">

  {% include "components/header.njk" %}

  {% include "components/hero.njk" %}

  {% include "components/journal-entry.njk" %}

  {% include "components/coming-soon.njk" %}

  {% include "components/subscribe.njk" %}

  {% include "components/footer.njk" %}

</div>
